.home_div {
    margin: 0 15% 0 15%;
}

.home_header {
    width: 100%;
    background-color: white;
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    border: 1px;
    border-color: black;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: #4b4b4b;
}

.header_a {
    text-decoration: none;
    color: #4b4b4b;
}

a {
    color: #4b4b4b;
}

.header_ul {
    list-style: none;
    margin: 0;
    display: flex;
}

.header_li {
    margin: 0 0 0 30px;
    font-size: 20px;
}

.header_nav {
    margin: 0 0 0 20px;
}

.header_button {
    margin: 0 40% 0 auto;
    display: flex;
}

.main_div {
    padding: 150px 0 0 0;
    margin: 0 6% 0 6%;
}

.main_title{
    font-size: 40px
}